*.png filter=lfs diff=lfs merge=lfs -text
*.x16 filter=lfs diff=lfs merge=lfs -text
*.xlsx filter=lfs diff=lfs merge=lfs -text
*.xlsm filter=lfs diff=lfs merge=lfs -text
*.f33 filter=lfs diff=lfs merge=lfs -text
*.f71 filter=lfs diff=lfs merge=lfs -text
*.docx filter=lfs diff=lfs merge=lfs -text
*.pdf filter=lfs diff=lfs merge=lfs -text
*.3dmap filter=lfs diff=lfs merge=lfs -text
*.ipynb filter=lfs diff=lfs merge=lfs -text
*.png !text !filter !merge !diff
*.x16 !text !filter !merge !diff
*.xlsx !text !filter !merge !diff
*.f33 !text !filter !merge !diff
*.f71 !text !filter !merge !diff
*.docx !text !filter !merge !diff
*.pdf !text !filter !merge !diff
*.3dmap !text !filter !merge !diff
*.ipynb !text !filter !merge !diff
